body {
  font-family: 'Chivo', sans-serif;
}

.container {
    width: 300px;
    margin-left: 300px;
    margin-top: 50px;
  }
.name {
    color: #000;
    font-weight: normal;
  }

.list {
    display: inline;
    /* line-height: 2px */
  }

a {
    color: #000
  }

.title {
    color: tomato;
    font-weight: normal
  }

.listCover {
    margin-left: 0px;
    padding-left: 0px;
  }

.box {
    margin-top: 80;
  }

  #bottom {
    margin-left: 300px;
    margin-top: 50px
    
  }

  .change {
    color: grey;
    
  }

